body {
    display: flex;
    margin: 0;
}

.left-side {
    position: relative;
    text-align: center;
}

div > img {
    max-height: 100vh;
}

.transparent-black {
    background-color: gray;
    position: absolute;
    top:30%;
    width: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.top,
.bottom {
    background-color: hsl(0, 0.00%, 58.00%);
    flex-grow: 1;
}

